<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="newstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Geriatric Depression Test</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="#">
            <img src="https://images1-fabric.practo.com/practices/1325834/ortho-care-clinic-chennai-605b662ac833b.png"
                class="w-25">
              ICOPE
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav my-2 py-6 gap-5">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/test">Login/Register</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Specific Tests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/MiniCog">Minicog Test</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Mns">My Nutrition Score Test</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Gds">Geriatric Depression Scale Test</a>
                    </div>
                </li>
            </ul>
            </form>
        </div>
    </nav>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Ensure that you answer all questions accurately</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
        <h2 class="text-center my-3">Geriatric Depression Test</h2>
        <form action="/test" method="post">
            <div class="form-check">
                <br>
                <h5>1) Are you basically satisfied with your life? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>2) Have you dropped many of your activities and interests? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>3) Do you feel that your life is empty? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>4) Do you often get bored? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>5) Are you in good spirits most of the time? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>6) Are you afraid something bad is going to happen to you? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>7) Do you feel happy most of the time? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault7">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault7">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>8) Do you often feel helpless? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault8">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault8">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>9) Do you prefer to stay at home, rather than go out and do new things? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault9">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault9">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>10) Do you feel that you have more prpblems with memory than most? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault10">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault10">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>11) Do you think it is wonderful to be alive? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault11">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault11">
                <label class="form-check-label" for="flexRadioDefault11">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>12)Do you feel pretty worthless the way you are now? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault12">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault12">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>13) Do you feel full of energy? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault13">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault13">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>14) Do you feel that your situation is hopeless? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault14">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault14">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>

                <br>
                <br>
                <h5>15) Do you think that most people are better off than you are? </h5>
                <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault15">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>Yes</h6>
                </label>
                <br>
                <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault15">
                <label class="form-check-label" for="flexRadioDefault1">
                  <h6>No</h6>
                </label>


              </div>
        </form>
    </div>
    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>